[submodule "prisehub/l10n-ec"]
	path = prisehub/l10n-ec
	url = git@github.com:prisehub/l10n-ec.git
	branch = 12.0

[submodule "prisehub/phaccount"]
	path = prisehub/phaccount
	url = git@github.com:prisehub/phaccount.git
	branch = 12.0

[submodule "prisehub/phhr"]
	path = prisehub/phhr
	url = git@github.com:prisehub/phhr.git
	branch = 12.0
